version: '3.8'

services:
  web:
    build: .
    command: sh ./entrypoint.sh
    ports:
      - "8000:8000"
    environment:
      - FLASK_ENV=production
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/conectareal
      - SECRET_KEY=replace_with_secure_random_value
      - MAIL_SERVER=smtp.gmail.com
      - MAIL_PORT=587
      - MAIL_USERNAME=
      - MAIL_PASSWORD=
    depends_on:
      - db
    volumes:
      - .:/app

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: conectareal
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: {}
